<div class='homepage'>
    <h1 id="title">Loan Calculator</h1>
    <div class= 'container'>
        <%= form_for :calculator, url: {action: :cal}, method: :get do |f|%>

        <div class='row'>
            <%= f.label 'Principal ($)'%>
            <div>
                <%= number_field_tag :principal, params[:principal]%>
            </div>
        </div>
        <div class='row'>
            <%= f.label 'Annual Interest (%)' %>
            <div>
                <%= number_field_tag :rate, params[:rate], :step => 0.1 %>
            </div>
        </div>
        <div class='row'>
            <%= f.label 'Length of Term (months)' %>
            <div>
                <%= number_field_tag :months, params[:months]%>
            </div>
        </div>
        <div class='row'>
            <%= f.submit 'Calculate'%>
        </div>
        <% end %>

        <div class='row'>
            <p>Monthly payment:</p>
            <div id='result'>$ <%=@result%></div>
        </div>
    </div>
</div>